@{
    ViewData["Title"] = "Introduction";
}
@model TodoUser

<div class="text-center">
    <h1 class="display-4 ColorBlue">?Todo</h1>
    <form asp-asp-controller="Introduction" asp-action="SetName" method="post">
        <input class="inputname" type="text" placeholder="Who is this ?" asp-for="UserName"/>
        <button class="btn namesubmit my-3" type="submit">Start Organizing</button>
    </form>
</div>