.ColorBlue { color: #465E73; }
.ColorSkin { color: #F2CDAC; }
.ColorDarkSkin { color: #F2C299; }
.ColorLips { color: #F2A88C; }
.ColorBrown { color: #BF948A; }
.ColorRed { color: red; }

.inputname {
    width: 100%;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    color: #465E73;
}
.inputname:focus {
    outline: none;
}
.namesubmit {
    width: 50%;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    background-color: #465E73;
    color: #F2CDAC;
    transition: 1s;
}
.namesubmit:hover {
    background-color: #F2CDAC;
    color: #465E73;
    transform: scale(1.1);
    transition: 0.5s;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* font-family: poppins; */
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

