.ColorBlue { color: #465E73; }
.ColorSkin { color: #F2CDAC; }
.ColorDarkSkin { color: #F2C299; }
.ColorLips { color: #F2A88C; }
.ColorBrown { color: #BF948A; }
.ColorRed { color: red; }

.inputname {
    width: 100%;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    color: #465E73;
}
.inputname:focus {
    outline: none;
}
.namesubmit {
    width: 50%;
    border: 0;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    background-color: #465E73;
    color: #F2CDAC;
    transition: 1s;
}
.namesubmit:hover {
    background-color: #F2CDAC;
    color: #465E73;
    transform: scale(1.1);
    transition: 0.5s;
}
#daymessage {
    font-weight: 300;
}
#todoholder {
    background-color: whitesmoke;
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    
}
.descriptionholder {
   font-size: 1.2rem;
   font-weight: 200;
}
.descriptioninput {
    border: 0;
    background-color: whitesmoke;
    color: #465E73;
    font-size: 1.5rem;
    font-weight: 200;
}
.descriptioninput:focus {
    border-color: #465E73;
    box-shadow: none;
    background-color: whitesmoke;
}
.close:focus {
    box-shadow: none;
}
.checkboxbtn {
    width: 2rem;
    height: 2rem;
    position: relative;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: .25rem;
    cursor: pointer;
    margin-top: 0.7rem;
    border: 0.0625rem solid #465E73;
    border-radius: 5rem;
}
.checkboxbtn:hover {
    background-color: aquamarine;
}
.checkboxbtn:focus {
    outline: none;
    box-shadow: none;
}
.topmenu {
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(90deg, rgba(97,172,217,1) 0%, rgba(54,94,188,1) 100%);
    padding: 3rem;
    margin-bottom: 2rem;
}
#checksign {
    visibility: hidden;
}
.checkboxbtn:hover #checksign {
    visibility: visible;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* font-family: poppins; */
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}