:root {
  --primary-color: #ffffff;
  --secondary-color: #ECEFF4;
  --font-color: #4c566a;
  --bg-color: #f2f4f8;
  --heading-color: #434c5e;
  --gradient1: #6991c7;
  --gradient2: #a3bded;
  --footer-color: #dee2e6;
}
[data-theme="dark"] {
  --primary-color: #4C566A;
  --secondary-color: #2e3440;
  --font-color: #eceff4;
  --bg-color: #242933;
  --heading-color: #eceff4;
  --gradient1: #7579ff;
  --gradient2: #b224ef;
  --footer-color: #2e3440 ;
}
.ColorBlue {
  color: #465e73;
}
#plusicon a:link {
  color: var(--heading-color);
  text-decoration: none;
  font-size: 3rem;
}
#menu {
    color: var(--heading-color);
}
#menu:focus {
    outline: none;
    box-shadow: none;
}
.menucontainer {
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--font-color);
  border-radius: 1rem; 
}
#theme-switcher {
  cursor: pointer;
}
#plusicon {
  color: var(--font-color);
  text-align: right;
}
#plusicon:hover {
  opacity: 0.7;
}
.inputname {
  width: 100%;
  border: 0;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  color: var(--font-color);
  background-color: var(--secondary-color);
}
.inputname:focus {
  outline: none;
  color: var(--font-color); 
}
.namesubmit {
  width: 50%;
  border: 0;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  background-color: #465e73;
  color: #f2cdac;
  transition: 1s;
}
.namesubmit:hover {
  background-color: #f2cdac;
  color: #465e73;
  transform: scale(1.1);
  transition: 0.5s;
}
#daymessage {
  font-weight: 300;
  color: var(--heading-color);
}
#todoholder {
  background-color: var(--primary-color);
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  border-left: 1.875rem solid var(--gradient1);
}
.TodoHolder {
  background-color: var(--secondary-color);
  border-radius: 1.25rem;
}
#mainappbg {
  background-color: var(--secondary-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}
.descriptionholder {
  font-size: 1.2rem;
  font-weight: 200;
}
.descriptioninput {
  border: 0;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 200;
}
.descriptioninput:focus {
  box-shadow: none;
  background-color: var(--primary-color);
  color: var(--font-color);
}
.close:focus {
  box-shadow: none;
}
.checkboxbtn {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.7rem;
  border: 0.0625rem solid #465e73;
  border-radius: 5rem;
}
#checkboxholder .checkicon {
  visibility: hidden;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#checkboxholder:hover .checkicon {
  visibility: visible;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.checkicon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 0.4rem;
  font-size: 2rem;
}
.checkboxbtn:hover {
  background-color: aquamarine;
}
.checkboxbtn:focus {
  outline: none;
  box-shadow: none;
}
.topmenu {
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(
    90deg,
    var(--gradient1) 0%,
    var(--gradient2) 100%
  );
  padding: 3rem;
  margin-bottom: 2rem;
}
#checksign {
  visibility: hidden;
}
.checkboxbtn:hover #checksign {
  visibility: visible;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* font-family: poppins; */
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.footer {
  position: absolute;
  color: var(--font-color);
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  border-top: 1px solid var(--footer-color);
}

/* Hamburger menu */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--heading-color);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--heading-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
