@using Microsoft.AspNetCore.Http; 
@model TodoList 
@{ ViewData["Title"] = "HomePage"; }

<div class="bg-secondary">
  <div class="container topmenu">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <h1 class="text-white">Goodmorning @(Model.User.UserName)</h1>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="container bg-secondary">
    <div id="todoholder" class="container">
      <div class="row py-3 text-center">
        <div class="col-2">
          <button class="checkboxbtn">C</button>
        </div>
        <div class="col-8 descriptionholder">
          <input
            class="descriptioninput form-control"
            type="text"
            value="Get butter"
          />
        </div>
        <div class="col-2">
          <button
            type="button"
            class="close"
            aria-label="Close"
            onClick="alert('hi')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
